html,body{
    height: 100%;
    weight: 100%;
    font-family: 'roboto',sans-serif;
}

.button{
    padding: 12px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius:4px ;
    cursor: pointer;
    
}

.row{
    margin: 8px 0;
}

.row input{
    font-size: 13px;
    margin: 0;
    padding: 10px 4px;
    border: 2px solid black;
    border-radius: 5px;
}