.text-centre{
    text-align: center;
}

.bg-red{
    background-color: rgb(5, 21, 67);
}

.mx-auto{
    margin: auto;
}

.m-w-20{
    max-width:20vw ;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.item-cent{
    align-items: center;
}